//- Все примеси в этом файле должны начинаться c имени блока (author)

mixin author(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' author--' + modsList[i].trim();
      }
    }

  .author(class=allMods)&attributes(attributes)
    .author__img
      picture
        source(media='(max-width: 1023px)' data-srcset='img/author_87x87.jpg')
        source(media='(min-width: 1024px)' data-srcset='img/author_219x219.jpg')
        img.lazyload(data-src='img/author-87x87.jpg', alt='')
    .author__info
      if (props.text)
      .author__text!= props.text
      .author__name= props.name


mixin author2(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' author--' + modsList[i].trim();
      }
    }

  .author(class=allMods)&attributes(attributes)
    .author__img
      block
    .author__info
      .author__name= props.name
      if (props.text)
        .author__text!= props.text
      if (props.phone)
        .author__phone!= props.phone



mixin author3(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' author--' + modsList[i].trim();
      }
    }

  .author(class=allMods)&attributes(attributes)
    .author__img
      img.lazyload(data-src=props.url, alt='')
    .author__info
      .author__name= props.name
      if (props.text)
        .author__text!= props.text
      if (props.phone)
        .author__phone!= props.phone



mixin author-faq(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' author--' + modsList[i].trim();
      }
    }

  .author(class=allMods)&attributes(attributes)
    .author__img
      img.lazyload(data-src=props.url, alt='')
    .author__info
      if (props.text)
        .author__text!= props.text
      .author__name= props.name
