//- Все примеси в этом файле должны начинаться c имени блока (reviews)

mixin reviews(text, mods, isIndex=true, props={})

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +reviews('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' reviews--' + modsList[i].trim();
      }
    }

    var containersClasses = (isIndex) ? 'section__container md_container' : '';
    var tabContentClasses = (isIndex) ? 'section__container container' : '';


  .reviews(class=allMods)&attributes(attributes)
    .reviews__inner
      div(class=containersClasses)
        ul#reviewsTab(class="nav nav-tabs hidden md_flex" role="tablist")
          li(class="nav-item" role="presentation")
            button.nav-link.active#profs-tab(data-bs-toggle="tab" data-bs-target="#profs" type="button" role="tab" aria-controls="Профессионалы" aria-selected="true") Профессионалы
          li(class="nav-item" role="presentation")
            button.nav-link#users-tab(data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="Пользователи" aria-selected="false") Пользователи
          li(class="nav-item" role="presentation")
            button.nav-link#videos-tab(data-bs-toggle="tab" data-bs-target="#videos" type="button" role="tab" aria-controls="Видео" aria-selected="false") Видео
      .tab-content#reviewsTabContent(class=tabContentClasses)
        .tab-pane.-mx-20px.fade.show.active#profs(role="tabpanel" aria-labelledby="profs-tab")
          .reviews__slider.reviews__slider--profs
            +reviews-user-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')
                p.reviews__item-excerpt В 1998 г. я очень сильно болела. Постоянно болела спина, ноги из-за двух межпозвонковых грыж. Я с большим трудом передвигалась, совсем не могла сидеть из-за усиливающихся болей. Я постоянно проходила курсы лечения, но боли продолжались, и мне настойчиво предлагали сделать операцию. От знакомой узнала, что в соседнем небольшом городке Звенигово Республики Марий Эл работает врач, который кроме стандартного лечения применяет чудо-аппарат. Я решила попробовать полечиться этим аппаратом.
                p Результат был очень быстрым и неожиданно хорошим: через 5 дней я уже могла сидеть, стало меньше болей при ходьбе. Замечательный врач-невропатолог Семакин Валерий Федорович помимо уколов и капельниц делал блокады, мануальную терапию. И сочетал все это с лечением аппаратом МИЛТА. После первого курса лечения я уехала со значительным улучшением состояния. Через 3 месяца мне провели повторный курс, затем через полгода. И на протяжении следующих 5 лет ездила на лечение к этому доктору каждые полгода. Операцию делать не пришлось, несмотря даже на то, что в 2004 г. после падения обнаружилась еще одна грыжа.
            +reviews-user-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Антонова Алла: «Воистину умный целитель»',
                info: 'Бронницы'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')
                p.reviews__item-excerpt В 1998 г. я очень сильно болела. Постоянно болела спина, ноги из-за двух межпозвонковых грыж. Я с большим трудом передвигалась, совсем не могла сидеть из-за усиливающихся болей. Я постоянно проходила курсы лечения, но боли продолжались, и мне настойчиво предлагали сделать операцию.
            +reviews-user-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера 3',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')
        .tab-pane.fade.-mx-20px#users(role="tabpanel" aria-labelledby="users-tab")
          .reviews__slider.slider.reviews__slider--users
            +reviews-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')
            +reviews-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера 2',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')
            +reviews-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера 3',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')
        .tab-pane.fade.-mx-20px#videos(role="tabpanel" aria-labelledby="videos-tab")
          .reviews__slider.reviews__slider--videos
            +reviews-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              +video-yt({
                url: 'img/review-video-poster-01-w360.jpg',
                srcset:
                'img/review-video-poster-01-w480.jpg 361w,' +
                'img/review-video-poster-01.jpg 560w'
              })
                <iframe class="video-yt__frame" id="video-yt__frame" width="560" height="315" src="https://www.youtube.com/embed/F0JM6d28n30?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            +reviews-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера 2',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')
            +reviews-item(
              {
                url: 'img/user-reviews-avatar.jpg',
                name: 'Туманина Вера 3',
                info: 'С. Федосеевка'
              })(class="slider__item")
              a.block.mt-20px.text-xl.text-black.lg_text-2xl.lg_mt-0.xxl_mb-20px.hover_opacity-70(href="#") Рикта - мой помощник и спаситель
              .reviews__item-text.ellipsis(data-lines='8')




mixin reviews-slider(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' reviews--' + modsList[i].trim();
      }
    }

  .reviews-slider(class=allMods)&attributes(attributes)
    block


mixin reviews-user-item(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' reviews__item--' + modsList[i].trim();
      }
    }

  .reviews__item.reviews__item--user.slider-card(class=allMods)&attributes(attributes)
    .reviews__item-inner.slider-card__inner
      .reviews__item-author
        .reviews__item-avatar
          img.lazyload(data-src=props.url)
        .reviews__item-name= props.name
        .reviews__item-info= props.info
      block
      +btn('Подробнее','simple')(class="text-md")



mixin reviews-item(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' reviews__item--' + modsList[i].trim();
      }
    }

  .reviews__item.slider-card(class=allMods)&attributes(attributes)
    .reviews__item-inner.slider-card__inner
      .reviews__item-author
        .reviews__item-avatar
          img.lazyload(data-src=props.url)
        .reviews__item-name= props.name
        .reviews__item-info= props.info
      block
