//- Все примеси в этом файле должны начинаться c имени блока (structure)

mixin structure(props = {}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' structure--' + modsList[i].trim();
      }
    }

  .structure(class=allMods)&attributes(attributes)
    .structure__inner.structure__inner
      .structure__features#structureFeatures
        +structure-item({
          header_id: "heading-01",
          target_id: "collapse-01",
          name: 'Лазерное излучение',
          icon: 'laser',
          icon_width: 42,
          icon_height: 26,
          show: true
        })
          p
            b Мощный импульсный инфракрасный лазер (905&nbsp;нм)
          p Высокая импульсная мощность обеспечивает проникновение пучка фотонов глубоко в ткани организма.  Длительность импульса — миллиардные доли секунды, что исключает разрушающее действие на ткани и органы. Глубина проникновения — до 6-7 см.
          p Эффекты: усиление микроциркуляции, регенерации, активация естественных процессов в тканях, повышение клеточного иммунитета, противовоспалительное, противоболевое действие.
        +structure-item({
          header_id: "heading-02",
          target_id: "collapse-02",
          name: 'Инфракрасное излучение',
          icon: 'infrared',
          icon_width: 41,
          icon_height: 32,
        })
          p 2 Технология RIKTA-TENS — оригинальная технология нейроадаптивной чрескожной электростимуляции.
          p Одновременное применение чрескожной электронейростимуляции с лазерным излучением впервые в мире реализовано в аппаратах РИКТА. Не имеет идентичных аналогов. Позволяет получить быстрый и устойчивый обезболивающий и противовоспалительный эффект.
        +structure-item({
          header_id: "heading-03",
          target_id: "collapse-03",
          name: 'Красный свет',
          icon: 'red-light',
          icon_width: 41,
          icon_height: 32
        })
          p 3 Технология RIKTA-TENS — оригинальная технология нейроадаптивной чрескожной электростимуляции.
          p Одновременное применение чрескожной электронейростимуляции с лазерным излучением впервые в мире реализовано в аппаратах РИКТА. Не имеет идентичных аналогов. Позволяет получить быстрый и устойчивый обезболивающий и противовоспалительный эффект.
        +structure-item({
          header_id: "heading-04",
          target_id: "collapse-04",
          name: 'Cиний свет',
          icon: 'blue-light',
          icon_width: 41,
          icon_height: 32
        })
          p 4 Технология RIKTA-TENS — оригинальная технология нейроадаптивной чрескожной электростимуляции.
          p Одновременное применение чрескожной электронейростимуляции с лазерным излучением впервые в мире реализовано в аппаратах РИКТА. Не имеет идентичных аналогов. Позволяет получить быстрый и устойчивый обезболивающий и противовоспалительный эффект.
        +structure-item({
          header_id: "heading-05",
          target_id: "collapse-05",
          name: 'Магнитное поле',
          icon: 'magnet',
          icon_width: 40,
          icon_height: 40
        })
          p 5 Технология RIKTA-TENS — оригинальная технология нейроадаптивной чрескожной электростимуляции.
          p Одновременное применение чрескожной электронейростимуляции с лазерным излучением впервые в мире реализовано в аппаратах РИКТА. Не имеет идентичных аналогов. Позволяет получить быстрый и устойчивый обезболивающий и противовоспалительный эффект.
        +structure-item({
          header_id: "heading-06",
          target_id: "collapse-06",
          name: 'TENS-терапия',
          icon: 'tens',
          icon_width: 40,
          icon_height: 40
        })
          p 6 Технология RIKTA-TENS — оригинальная технология нейроадаптивной чрескожной электростимуляции.
          p Одновременное применение чрескожной электронейростимуляции с лазерным излучением впервые в мире реализовано в аппаратах РИКТА. Не имеет идентичных аналогов. Позволяет получить быстрый и устойчивый обезболивающий и противовоспалительный эффект.
      .structure__btns
        +structure-btn-icon({
          target_id: "collapse-01",
          icon: "laser",
          icon_width: 42,
          icon_height: 26,
          text: "Лазерное<br> излучение",
          animate_target: "#laser_ray"
        })
          include ../inline-svg/laser.svg
        +structure-btn-icon({
          target_id: "collapse-02",
          icon: "infrared",
          icon_width: 41,
          icon_height: 32,
          text: "Инфракрасное<br> излучение",
          animate_target: "#infrared_ray"
        })
          include ../inline-svg/red-light.svg
          .structure__btns-bottom-text Мультиволновая энергетическая комбинация
        +structure-btn-icon({
          target_id: "collapse-03",
          icon: "red-light",
          icon_width: 41,
          icon_height: 32,
          text: "Красный<br> свет",
          animate_target: "#red_ray"
        })
          include ../inline-svg/red-light.svg
        +structure-btn-icon({
          target_id: "collapse-04",
          icon: "blue-light",
          icon_width: 41,
          icon_height: 32,
          text: "Cиний<br> свет",
          animate_target: "#blue_ray"
        })
          include ../inline-svg/blue-light.svg
        +structure-btn-icon({
          target_id: "collapse-05",
          icon: "magnet",
          icon_width: 40,
          icon_height: 40,
          text: "Магнитное<br> поле",
          animate_target: ".wave"
        })
          include ../inline-svg/magnet.svg
        +structure-btn-icon({
          target_id: "collapse-06",
          icon: "tens",
          icon_width: 36,
          icon_height: 38,
          text: "TENS-терапия",
        })
          include ../inline-svg/tens.svg



mixin structure-item(props,mods)

  -
    var collapseClasses = "structure__features-collpase collapse text-sm";
    if (props.show) {
      collapseClasses += " show";
    }

  .structure__features-item&attributes(attributes)
    h2.structure__features-header(id=props.header_id)
      button.structure__features-btn.text-base(type="button" data-bs-toggle="collapse" data-bs-target="#"+props.target_id aria-expanded="true" aria-controls=props.header_id)
        i.block.structure__features-icon
          +svg(props.icon,'',{width: props.icon_width, height: props.icon_height})
        span!= props.name
    div(id = props.target_id class=collapseClasses aria-labelledby=props.header_id data-bs-parent="#structureFeatures")
      .structure__features-collapse-inner
        .structure__features-content
          i.structure__features-content-icon
            +svg(props.icon,'',{width: props.icon_width, height: props.icon_height})
          block
          +btn('Подробнее','link')



mixin structure-btn-icon(props,mods)

  button.structure__btn-icon(type="button" data-bs-toggle="collapse" data-bs-target="#"+props.target_id aria-expanded="true" aria-controls=props.target_id data-animate=props.animate_target)
    .structure__btn-icon-inner
      block
      //- +svg(props.icon,'',{width: props.icon_width, height: props.icon_height})
      span.structure__btn-text!=props.text


