extends ../pug/layout.pug

block meta
  title Информация
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'article';

block content
  .wrapper
    +breadcrumbs(class='container')
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Информация')
    section.section--article.mt-30px.lg_mt-20px.lg_mb-128px
      .article.container.mb-64px
        h1.text-2xl.mb-20px.lg_text-48px.lg_col-span-3.lg_mt-0.lg_mb-30px Артрит коленного сустава
        .article__img.article__img--main.img-cover.lg_col-span-3.lg_mb-40px
          img.lazyload(
          data-sizes="auto",
          data-src='img/arthrit_320x160.jpg',
          data-srcset='img/arthrit_320x160.jpg 360w,' +
                  'img/arthrit_480x240.jpg 361w,' +
                  'img/arthrit_800x400.jpg 481w,' +
                  'img/arthrit_1151x303.jpg 801w,' +
                  'img/arthrit_1312x345.jpg 1280w,' +
                  'img/arthrit_1800x473.jpg 1441w',
          )
        .article__contents.text-blue.font-bold.mb-24px.lg_hidden
          .mb-10px.text-xl.text-black.font-normal.lg_text-2xl Содержание
          ul.article__contents-list.m-0.p-0.list-none(data-tabs-anchor)
            li
              a.article__contents-link(href='#' data-anchor='#desc') Что собой представляет патология
            li
              a.article__contents-link(href='#' data-anchor='#cause') Причины возникновения
            li
              a.article__contents-link(href='#' data-anchor='#stad') Стадии развития
            li
              a.article__contents-link(href='#' data-anchor='#diag') Диагностика
            li
              a.article__contents-link(href='#' data-anchor='#cure') Лечение
            li
              a.article__contents-link(href='#' data-anchor='#prof') Профилактика

        .text-2xl.text-black.mb-10px.lg_col-start-1.lg_col-span-2 Автор статьи
        +author2({
          name: 'Катерина Григорьевна',
          text: 'Врач Физиотерапевт'
        },'article')(class='mb-18px lg_mb-25px lg_col-start-1 lg_col-span-2 lg-row-start-4')
          picture
            source(media='(max-width: 1023px)' data-srcset='img/author_87x87.jpg')
            source(media='(min-width: 1024px)' data-srcset='img/author_219x219.jpg')
            img.lazyload(data-src='img/author-87x87.jpg', alt='')
        .article__dates.mb-30px.lg_col-start-1.lg_col-span-2.lg-row-start-5
          .date-line.flex.items-center.text-gray-300(class='!mb-5px')
            +svg('calendar','mr-8px',{width: '17',height: '19'})
            span.text-gray-500 Дата добавления (18.01.2022)
          .date-line.flex.items-center.text-gray-300
            +svg('calendar-check','mr-8px',{width: '17',height: '19'})
            span.text-gray-500 Дата обновления (18.01.2022)
        .article__main
          .fragment-special.text-green.mb-40px.lg_mb-60px
            .fragment-speical__inner.text-gray-500
              p Артрит коленных суставов относят к часто встречающимся патологиям воспалительного характера. Причины их развития бывают разнообразными. Суставные патологии при артрите всегда сопровождаются болевыми ощущениями. Из-за болезненности снижается объем движений в суставе.
          .code
            code &lt;div class="fragment-special text-green mb-40px lg_mb-60px">
            code  &lt;div class="fragment-speical__inner text-gray-500">
            code     &lt;p>Артрит коленных суставов&lt/p>
            code   &lt;/div>
            code &lt;/div>
          .article__img.img-cover.h-200px.lg_h-auto.mb-35px.lg_mb-30px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w'
            )
          .code
            code &lt;div class="article__img img-cover h-200px lg_h-auto mb-35px lg_mb-30px">
            code   &lt;img class="lazyload"
            code      data-sizes="auto"
            code      data-src="/img/arthrit_320x160.jpg"
            code      data-srcset=
            code        "/img/arthrit_320x160.jpg 360w,
            code        /img/arthrit_480x240.jpg 361w,
            code        /img/arthrit_800x400.jpg 481w,
            code        /img/article-2_864x346.jpg 801w">
            code &lt;/div>
          p
            .relative.inline-block.pr-15px Артрит коленных суставов
              +info-tip(class='info-tip--right' data-content='гонартрит')
            | – воспалительное заболевание с острым или хроническим течением. Воспалительный процесс развивается в суставных структурах и преимущественно поражает хрящи, прилегающие к ним костные фрагменты, а также суставные капсулы.
          .code
            code &lt;p>
            code    &lt;div class="relative inline-block pr-15px">
            code        &lt;Артрит коленных суставов&lt;span class="info-tip info-tip--right" data-content="гонартрит">
            code    &lt;/div>
            code &lt;/p>
          div.method-download.mb-40px.lg_mt-65px
            span Методика лечения артрита аппаратом лазерной терапии Рикта
            +btn-download-light({
                text: 'Скачать методику',
                href: 'http://example.com/files/myfile.pdf',
                classes: 'mt-10px'
            })
          .code
            code &lt;div class="method-download mb-40px lg_mt-65px">
            code   &lt;span>Методика лечения артрита аппаратом лазерной терапии Рикта&lt;/span>
            code     &lt;a class="btn  btn--regular btn--icon btn--download text-black bg-white border-white mt-10px"
            code       href="http://example.com/files/myfile.pdf" target="_blank">
            code       &lt;svg class="icon" width="19" height="19">
            code         &lt;use xlink:href="img/sprite.svg#document-cloud">&lt;/use>
            code       &lt;/svg>
            code       &lt;span>Скачать методику&lt;/span>
            code     &lt;/a>
            code &lt;/div>
          p <b class='text-lg lg_text-xl'>Первичный артрит</b> — это последствие травм:
          .code
            code &lt;p>&lt;b class='text-lg lg_text-xl'>Первичный артрит&lt;/b> — это последствие травм:
          p.text-black.lg_text-xl <b class='lg_text-xl'>Вторичное&lt;/b> поражение возникает на фоне следующих патологий:
          .code
            code &lt;p class="text-black lg_text-xl">&lt;b class='lg_text-xl'>Вторичное&lt;/b> поражение возникает на фоне следующих патологий:&lt;/p>
          div.border.border-black.border-dashed.rounded-10px.p-30px.mt-30px.mb-30px.lg_p-40px
            p.text-black.text-lg.lg_text-2xl Факторами риска, предрасполагающими к развитию болезни, считают следующее:
            ul.pl-0.mb-0.lg_pl-15px
              li травматизация прилежащих к суставу связок;
              li воспаление суставной сумки и связок;
              li ожирение;
          .code
            code &lt;div class="border border-black border-dashed rounded-10px p-30px mt-30px mb-30px lg_p-40px">
            code   &lt;p class="text-black text-lg lg_text-2xl">Факторами риска, предрасполагающими к развитию болезни, считают следующее:&lt;/p>
            code     &lt;ul class="pl-0 mb-0 lg_pl-15px">
            code       &lt;li>травматизация прилежащих к суставу связок;&lt;/li>
            code       &lt;li>воспаление суставной сумки и связок;&lt;/li>
            code       &lt;li>ожирение;&lt;/li>
          p.text-lg.text-black.lg_text-2xl При некоторых формах болезни отмечают внесуставные изменения. В процесс включаются следующие системы:
          .code
            code &lt;p class="text-lg text-black lg_text-2xl">При некоторых формах болезни отмечают внесуставные изменения. В процесс включаются следующие системы:&lt;/p>
          p.text-xl.text-black.lg_text-2xl Выделяют несколько степеней патологического суставного процесса:
          ol
            li <b>Первая степень.</b> Ощущение дискомфорта при артрите похоже на обычную усталость после интенсивных тренировок или физической работы. Отмечают слабую ноющую боль при ходьбе. Она исчезает после недолгого отдыха. Сустав отекает преимущественно в утреннее время. Зрительно он крупнее здорового. Кожа над ним краснеет и становится горячей, ощущается скованность при попытке согнуть ногу. На рентген-снимках наблюдают незначительные признаки поражения сустава.
            li <b>Вторая степень.</b> При коленном артрите у пациента появляется хруст в суставе во время сгибания и разгибания. Он формируется из-за сильного повреждения поверхности хрящей. Этому способствует ослабление связочного аппарата из-за прогрессирования воспалительного процесса. Человека беспокоит выраженная боль в суставе. Она усиливается после ходьбы. Отмечается отечность сустава утром. Пациент ощущает при артрите скованность движений после ночного сна. Она исчезает в течение часа. У пациента изменяется походка. В суставной полости накапливается экссудат. На рентген-снимке обнаруживается сужение щели сустава. Патологически изменены края костных пластинок. Наблюдается околосуставной остеопороз.
          .code
            code &lt;p class="text-xl text-black lg_text-2xl">Выделяют несколько степеней патологического суставного процесса:&lt;/p>
            code   &lt;ol>
            code     &lt;li><b>Первая степень.&lt;/b> Ощущение дискомфорта при артрите похоже на обычную усталость после интенсивных тренировок или физической работы. Отмечают слабую ноющую боль при ходьбе. Она исчезает после недолгого отдыха. Сустав отекает преимущественно в утреннее время. Зрительно он крупнее здорового. Кожа над ним краснеет и становится горячей, ощущается скованность при попытке согнуть ногу. На рентген-снимках наблюдают незначительные признаки поражения сустава.&lt;/li>
            code     &lt;li>&lt;b>Вторая степень.&lt;/b> При коленном артрите у пациента появляется хруст в суставе во время сгибания и разгибания. Он формируется из-за сильного повреждения поверхности хрящей. Этому способствует ослабление связочного аппарата из-за прогрессирования воспалительного процесса. Человека беспокоит выраженная боль в суставе. Она усиливается после ходьбы. Отмечается отечность сустава утром. Пациент ощущает при артрите скованность движений после ночного сна. Она исчезает в течение часа. У пациента изменяется походка. В суставной полости накапливается экссудат. На рентген-снимке обнаруживается сужение щели сустава. Патологически изменены края костных пластинок. Наблюдается околосуставной остеопороз.&lt;/li>
          .article__note.bg-yellow-50.mt-30px.mb-40px
            .article__note-icon.icon-svg.icon-svg--info-thin-yellow
            //- +svg('info-thin','',{width:38,height:38})(class='article__note-icon text-yellow-400')
            .text-lg.text-black.mb-5px.lg_text-xl.lg_self-start Рикта рекомендует
            p(class='!mb-0') При третьей и четвертой стадии болезни суставов требуется немедленно обратиться за медицинской помощью.
          h2#diag Диагностика
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Основные диагностические мероприятия направляются на выявление причин воспалительного процесса в суставах. Пациентов с артритом сначала направляют к терапевту. Этот врач при необходимости привлекает к диагностике следующих врачей: ревматолога, травматолога-ортопеда, артролога, венеролога, фтизиатра и остальных.
          p Обследование больного с артритом коленного сустава начинают с осмотра. Затем изучают историю болезни, где особое внимание обращают на перенесенные и сопутствующие заболевания. Диагноз подтверждают следующими методами дополнительной диагностики:
          ol.mb-20px
            li <b>Лабораторные тесты.</b> При наличии острого воспаления сустава во время проведения клинического анализа крови выявляют признаки активной воспалительной реакции. Характерно увеличенное СОЭ, растет число лейкоцитов. При выполнении биохимического анализа крови находят воспалительные маркеры, к которым относят С-реактивный белок (СРБ), ревматоидный фактор, серомукоид. При выполнении иммунологического анализа находят антитела к определенному возбудителю инфекции.
            li <b>Методы визуализации.</b> На рентген-снимках сустава видны отверстия в суставных поверхностях, через которые выходит гной в костную ткань. Еще при заболевании сужается суставная щель. Выявляется костное или фиброзное заращение сустава. Чтобы провести дифференциальную диагностику при артритах, проводят МРТ. Определение характера и количества внутрисуставной жидкости производят при помощи УЗИ. Вспомогательное значение имеют термография, пневмоартрография и контрастная артрография.
            li <b>Инвазивные исследования.</b> Проводится диагностическая пункция сустава с дальнейшим изучением синовиальной жидкости. Если необходимо, проводят артроскопию или биопсию синовиальных оболочек.
              ul
                li Пример 1
                li Пример 1
                li Пример 1
                li Пример 1
                  ul
                    li Пример 1
                    li Пример 1
                    li Пример 1
                    li Пример 1
                    li Пример 1
            li <b>Инвазивные исследования.</b> Проводится диагностическая пункция сустава с дальнейшим изучением синовиальной жидкости. Если необходимо, проводят артроскопию или биопсию синовиальных оболочек.
            li <b>Инвазивные исследования.</b> Проводится диагностическая пункция сустава с дальнейшим изучением синовиальной жидкости. Если необходимо, проводят артроскопию или биопсию синовиальных оболочек.
          p Исчерпывающая диагностическая информация о причинах поражения сустава позволяет врачу подобрать оптимальный лечебный комплекс.
          .article__note.bg-red-50.mt-20px.mb-40px(class='lg_grid lg_grid-cols-[auto_1fr] lg_gap-x-20px lg_text-left')
            .article__note-icon.icon-svg.icon-svg--info-thin-red
            //- +svg('info-thin','',{width:48,height:48})(class='article__note-icon text-red-500')
            .text-lg.text-black.mb-5px.lg_text-xl.lg_self-start Обратите внимание
            p(class='!mb-0') Если диагностика проведена несвоевременно и некачественно, лечение вовремя не назначается. Болезнь приобретает хроническое течение.
          h2#cure.mt-0 Лечение
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Пациенты часто спрашивают, какой врач лечит артрит коленного сустава. Если заболели колени, сначала нужно пойти на прием к участковому терапевту. После проведения расширенного обследования он установит причину воспаления суставов и направит к узкому специалисту. Лечение пациент получает у ревматолога, фтизиатра, ортопеда-травматолога, инфекциониста.
          p При назначении терапии обязательно учитывают причину поражения суставов. Правильно назначенное лечение предотвратит непоправимые последствия. Еще оно сохранит подвижными суставы. Курс лечения занимает длительный промежуток времени.
          p Для успешного лечения суставов важен не только прием лекарственных препаратов. Важно соблюдение специальной диеты. Надо защищать ноги от переохлаждения. Стоит исключить физический труд, связанный с подъемом и переносом тяжестей и длительным пребыванием в неудобном положении.
          p Для устранения симптомов применяются лекарственные средства направленного действия. Чтобы устранить боль, воспаление и отек используют нестероидные противовоспалительные препараты, в виде таблеток и инъекций. Медикаментозно лечат артрит суставов еще с помощью наружных НПВС препаратов. Их назначают в виде мазей, кремов, гелей.
          p Эти лекарства применяют длительным курсом при поражении суставов. Чтобы избежать негативного воздействия такого лечения на желудок, обычно прописывают препараты, которые защищают слизистую оболочку пищеварительного тракта. Еще для лечения суставов применяют следующие лекарства:
          ol.mb-20px
            li <b>Хондропротекторы.</b> Эти средства в своем составе содержат хондроитин и глюкозамин. Они помогают при артрите восстановлению поврежденной хрящевой ткани суставов. Обязательно принимать курсом эти таблетки или порошки в течение длительного времени.
            li <b>Кортикостероиды.</b> Их водят при артрите в виде уколов внутрь сустава. Они применяются при тяжелом состоянии пациента и неэффективности других лекарств.
            li <b>Сосудорасширяющие.</b> Такие препараты назначают курсами, чтобы улучшить кровоснабжение и питание сустава.
            li <b>Антибиотики.</b> Чаще других применяют препараты из группы пенициллинов и макролидов. Они становятся важной частью лечения. Эти лекарства нужны, чтобы уничтожить патогенные микроорганизмы внутри сустава. Их назначают при инфекционном артрите колена или его гнойных осложнениях.
          p В качестве дополнительного лечения пациентам назначают витаминно-минеральные комплексы, общеукрепляющие средства, а также биодобавки, содержащие пивные дрожжи и кальций.
          h3 Физиотерапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Физиотерапию считают важной частью лечения. Для этого применяют методы лечения, основанные на физических факторах. Физиотерапия предоставляет максимум эффекта, при этом на организм и суставы оказываются щадящие нагрузки.
          .article__note.bg-green-50.mt-20px.mb-20px
            .article__note-icon.icon-svg.icon-svg--info-wallet-green
            //- +svg('wallet','',{width:48,height:48})(class='article__note-icon text-green-300')
            p(class='!mb-0') Значимым достоинством этого лечения при артрите считают доступность. Она хорошо сочетается с другими лечебными средствами комплексной терапевтической программы. Физиотерапия бережно воздействует на организм, оказывает длительный эффект. При ее применении почти отсутствуют побочные явления.
          p Главной задачей при терапии артрита коленных суставов считают уменьшение боли и восстановление их функций. Физиотерапия повышает качество жизни пациента и улучшает его самочувствие. Все методы требуют предварительной консультации врача.
          h3.lg_mb-25px Магнитотерапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Действующей силой этой терапии считают магнитное поле. Оно улучшает кровоснабжение хряща и лучше насыщает сустав питательными веществами. Это лечение при артрите активизирует выведение продуктов распада клеток и воспаления. Оно способствует подавлению аутоиммунных реакций.
          p В результате магнитотерапии уменьшается боль, снимается отечность, улучшается подвижность сустава. Затормаживаются процессы дегенерации в хрящевой ткани при артрите. Повышается проницаемость сосудов области колена, что способствует лучшему проникновению лекарств. Магнитофорез проводят после нанесения на колено наружных лекарственных средств.
          h3 Ультрафиолетовое облучение
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p УФО, снижая чувствительность в зоне поражения, устраняет боль. Оно в организме активизирует синтез витамина D3, который необходим, чтобы лучше усваивался кальций. Этот минерал важен для повышения крепости костей. УФО стимулирует обмен веществ в суставах.
          h3 Электрофорез
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p При этом методе сквозь кожу в толщу мышц вводятся лекарства под воздействием электрического тока. Он усиливает микроциркуляцию в околосуставных тканях колена. Это снимает воспаление, отечность и болевые ощущения в колене. Устраняются мышечные спазмы и судороги. Электрофорез обладает длительным лечебным действием.
          h3 УВЧ
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Метод воздействует на суставные ткани с помощью ультравысокочастотных волн. Они помогают избавиться от болевых ощущений. Снимают воспаление и отек. Применение УВЧ противопоказано у больных с гипертонией.
          h3 Ультразвуковая терапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Ультразвук усиливает всасывание наружных лекарственных средств. Его часто применяют для местного введения гормональных мазей в области колена. Метод не назначают при стенокардии.
          h3 Бальнеотерапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Водные процедуры при артрите коленных суставов получили широкое применение. Активно проводят лечебные ванночки и ванны с радоном, солями, нафталаном, растительными экстрактами, сероводородом, йодобромом. Под их воздействием при артрите улучшается кровообращение в области колена, активизируются обменные процессы в суставе. Усиливается трофика тканей, стимулируется регенерация. Снимается воспаление и боль. Хороший отклик получают на ранней стадии артрита.
          h3 Грязелечение
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Ванны, обертывания, аппликации с грязями оказывают на сустав тепловое и механическое воздействие. Они питают ткани минералами и биологически активными веществами. Ликвидируется воспалительный процесс, убираются при артрите даже стойкие болевые ощущения.
          h3 Парафиновые обертывания
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Их применяют как вспомогательный метод. Парафин растапливают на водяной бане. Затем его остужают до комфортной температуры. На колено наносят парафиновую массу. Сверху обматывают полиэтиленовой пленкой и укутывают мягкой тканью. Метод улучшает кровообращение в суставе, уменьшает боль при артрите.
          h3 Массаж
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          p Метод довольно популярен. Его считают высокоэффективной составляющей комплексной терапии. Местный массаж помогает наращивать мышечную силу. После курсового применения укрепляются мышцы, снимаются мышечные спазмы. Массаж усиливает кровоток в тканях и ослабляет болевые ощущения.
          h3 Лазерная терапия
          .article__imgs-wrapper.lg_flex.mb-20px.lg_mb-40px
            .article__img.img-cover.h-200px.lg_h-176px.lg_mr-20px
              img.lazyload(
              data-sizes="auto",
              data-src='img/arthrit_320x160.jpg',
              data-srcset='img/arthrit_320x160.jpg 360w, '  +
                      'img/arthrit_480x240.jpg 361w, ' +
                      'img/arthrit_800x400.jpg 481w, ' +
                      'img/article-2_864x346.jpg 801w '
              )
            .article__img.img-cover.h-200px.lg_h-176px.hidden.lg_block.lg_mr-20px
              img.lazyload(
              data-sizes="auto",
              data-src='img/arthrit_320x160.jpg',
              data-srcset='img/arthrit_320x160.jpg 360w, '  +
                      'img/arthrit_480x240.jpg 361w, ' +
                      'img/arthrit_800x400.jpg 481w, ' +
                      'img/article-2_864x346.jpg 801w '
              )
            .article__img.img-cover.h-200px.lg_h-176px.hidden.lg_block
              img.lazyload(
              data-sizes="auto",
              data-src='img/arthrit_320x160.jpg',
              data-srcset='img/arthrit_320x160.jpg 360w, '  +
                      'img/arthrit_480x240.jpg 361w, ' +
                      'img/arthrit_800x400.jpg 481w, ' +
                      'img/article-2_864x346.jpg 801w '
              )
          .lg_flex.lg_mb-40px
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
            div.method-download.method-download--lg-small.mt-35px.mb-20px.lg_mt-0.lg_ml-30px.lg_mb-0
              span Методика лечения артрита аппаратом лазерной терапии Рикта
              +btn-download-light({
                  text: 'Скачать методику',
                  href: 'http://example.com/files/myfile.pdf',
                  classes: 'mt-10px'
              })
          .div.hidden.lg_block
            .article__img.img-cover.h-200px.lg_mr-20px(class='lg_h-[306px] lg_w-[416px] lg_mr-32px lg_float-left')
              img.lazyload(
              data-sizes="auto",
              data-src='img/arthrit_320x160.jpg',
              data-srcset='img/arthrit_320x160.jpg 360w, '  +
                      'img/arthrit_480x240.jpg 361w, ' +
                      'img/arthrit_800x400.jpg 481w, ' +
                      'img/article-2_864x346.jpg 801w '
              )
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия,
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
          .div.hidden.lg_block
            .article__img.img-cover.h-200px.lg_mr-20px(class='lg_h-[306px] lg_w-[416px] lg_ml-32px lg_float-right')
              img.lazyload(
              data-sizes="auto",
              data-src='img/arthrit_320x160.jpg',
              data-srcset='img/arthrit_320x160.jpg 360w, '  +
                      'img/arthrit_480x240.jpg 361w, ' +
                      'img/arthrit_800x400.jpg 481w, ' +
                      'img/article-2_864x346.jpg 801w '
              )
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия,
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
          .article__note.bg-green-50.mt-20px.mb-20px
            .article__note-icon.icon-svg.icon-svg--laser-green
            //-  +svg('laser','',{width:50,height:32})(class='article__note-icon !mb-30px stroke-green-300 fill-green-300 text-green-300')
            p(class='!mb-0') Лазеротерапия эффективна при различных формах заболевания. Метод успешно используют при ревматоидном, подагрическом, посттравматическом и других артритах.
          .text-lg.text-black.mb-20px.lg_text-xl Эта терапия имеет следующие преимущества:
          .article__img.img-cover.h-200px.lg_mr-20px(class='lg_h-[306px] lg_w-[416px] lg_ml-32px lg_float-left')
            img.lazyload(
            data-sizes="auto",
            data-src='img/arthrit_320x160.jpg',
            data-srcset='img/arthrit_320x160.jpg 360w, '  +
                    'img/arthrit_480x240.jpg 361w, ' +
                    'img/arthrit_800x400.jpg 481w, ' +
                    'img/article-2_864x346.jpg 801w '
            )
          ul.mb-30px.list-test
            li активизируется обмен веществ в тканях сустава;
            li ускоряется течение химических реакций;
            li снижается болезненность и отек сустава;
            li устраняется острое воспаление;
            li форсируется восстановление пораженных тканей;
            li снимает сосудистый спазм и мышечное напряжение;
            li активизируется выработка антител;
            li улучшается кровоснабжение сустpава;
            li ускоряется образование сосудов;
            li оказывается <b>иммуномодулирующий</b> эффект.
          .article__note.bg-blue-50.mt-20px.mb-40px
            .article__note-icon.icon-svg.icon-svg--laser-device
            //- +svg('laser-device','',{width:46,height:47})(class='article__note-icon')
            p(class='!mb-0') Сейчас лазеротерапию делают не только с помощью громоздких аппаратов для медицинских учреждений. Теперь не нужно ходить в поликлинику, возможно лечение артрита колена в домашних условиях с помощью портативных аппаратов. Их регулярное применение улучшает функционирование коленного сустава.
          h2 Тест
            .img-test
              img(src='img/arthrit_800x400.jpg')
          h2#prof Профилактика
          .grid.grid-cols-2.gap-x-20px.mb-20px
            .article__img.img-cover.h-100px(class='lg_h-[248px]')
              img.lazyload(
              data-sizes="auto",
              data-src='img/arthrit_320x160.jpg',
              data-srcset='img/arthrit_320x160.jpg 360w' +
                      'img/arthrit_480x240.jpg 361w' +
                      'img/arthrit_800x400.jpg 481w' +
                      'img/arthrit_1152x303.jpg 801w' +
                      'img/arthrit_1312x345.jpg 1280w' +
                      'img/arthrit_1800x473.jpg 1441w',
            )
            .article__img.img-cover.h-100px(class='lg_h-[248px]')
              img.lazyload(
              data-sizes="auto",
              data-src='img/arthrit_320x160.jpg',
              data-srcset='img/arthrit_320x160.jpg 360w' +
                      'img/arthrit_480x240.jpg 361w' +
                      'img/arthrit_800x400.jpg 481w' +
                      'img/arthrit_1152x303.jpg 801w' +
                      'img/arthrit_1312x345.jpg 1280w' +
                      'img/arthrit_1800x473.jpg 1441w',
            )
          p Для поддержания устойчивой ремиссии и недопущения развития обострений артрита коленных суставов важно добросовестное выполнение рекомендаций врача. Стоит пересмотреть рацион. Ешьте свежие овощи и фрукты, богатые витаминами и клетчаткой. Надо ограничить потребление животных жиров.
          p Откажитесь от вредных привычек. Важно исключить прием алкоголя и курение табака. Нужно вылечивать все воспалительные заболевания. Особенно это касается острых инфекций. Стоит вести активный образ жизни. Нужно заниматься специально разработанными упражнениями для суставов. Нагрузки подбирают, учитывая возраст, степень и форму заболевания.
          p Успешное лечение воспалительного процесса в коленных суставах зависит от своевременного обращения за медицинской помощью и строгого выполнения врачебных рекомендаций.
          // .border.border-gray-200.rounded-10px.p-30px.mt-40px.mb-40px.lg_pt-40px.lg_mb-60px
          //   h3.mt-0 Список литературы:
          //   ol.text-lg.p-0.lg_pl-20px
          //     li(class='before_!font-normal !mb-10px') Клинические рекомендации. Ревматология/ под. ред. Е. Л. Насонова. М.: ГЭОТАР-Медиа, 2006. 288 с.
          //     li(class='before_!font-normal !mb-10px') Артриты и артрозы. Диагностика, профилактика, лечение / Ж.А. Ржевская, Е.А. Романова. - М.: Мир Книги Ритейл, 2011. - 160 c.
          //     li(class='before_!font-normal') Частота поражений крупных суставов у взрослых. / К.И. Шапиро. Диагностика и лечение повреждений крупных суставов. / Л.,199 : 3–8.
          .sources
            h3 Список литературы:
            ol
              li Клинические рекомендации. Ревматология/ под. ред. Е. Л. Насонова. М.: ГЭОТАР-Медиа, 2006. 288 с.
              li Артриты и артрозы. Диагностика, профилактика, лечение / Ж.А. Ржевская, Е.А. Романова. - М.: Мир Книги Ритейл, 2011. - 160 c.
              li Частота поражений крупных суставов у взрослых. / К.И. Шапиро. Диагностика и лечение повреждений крупных суставов. / Л.,199 : 3–8. <a href="http://waltza.co.za/wp-content/uploads/2012/08/Dose_table_780-860nm_for_Low_Level_Laser_Therapy_WALT-2010.pdf" rel="nofollow" target="_blank">http://waltza.co.za/wp-content/uploads/2012/08/Dose_table_780-860nm_for_Low_Level_Laser_Therapy_WALT-2010.pdf</a>
        .article__aside.hidden.lg_block.lg_col-start-3.lg_row-start-3.lg_row-span-10
          .article__float
            .article__float-container
              .article__contents.font-bold.mb-24px
                .mb-10px.text-xl.text-black.font-normal.lg_text-2xl.lg_mb-15px Содержание
                ul.article__contents-list.m-0.p-0.list-none(data-tabs-anchor data-tab-class='a')
                  li
                    a.article__contents-link(href='#' data-anchor='#desc') Что собой представляет патология
                  li
                    a.article__contents-link(href='#' data-anchor='#cause') Причины возникновения
                  li
                    a.article__contents-link(href='#' data-anchor='#stad') Стадии развития
                  li
                    a.article__contents-link(href='#' data-anchor='#diag') Диагностика
                  li
                    a.article__contents-link(href='#' data-anchor='#cure') Лечение
                  li
                    a.article__contents-link(href='#' data-anchor='#prof') Профилактика
              // .banner__wrapper.article__banner
              //   .banner Баннер
              +consult({
                url: 'img/author_87x87.jpg',
                name: 'Иван Фабричный',
                text: 'Врач кардиолог',
                phone: '8 800 200 57 30'
              })(class='article__consult')

        .article__socials.lg_justify-self-start
          .text-lg.text-black.text-center.mb-7px Поделиться в соц. сетях
          <div class='ya-share2' data-curtain data-services='vkontakte,odnoklassniki,telegram,whatsapp'></div>
        .article__rating.rating.rating.text-lg.text-center.mt-20px.lg_justify-self-end
          .article__rating-text.mb-5-px
            span.text-black 4.3/5&#32;
            span (5 286 оценок)
          .rating__stars--view#rateYo(data-value='4.3')
        .article__note.bg-slate-50.mt-20px.mb-40px.lg_col-start-1.lg_col-end-3.lg_mb-30px.lg_mt-60px
          .article__note-icon.icon-svg.icon-svg--warning-slate
          //- +svg('warning','',{width:45,height:43})(class='article__note-icon fill-slate-400')
          p(class='!mb-0') Статья для пациентов с диагностированной доктором болезнью. Не заменяет приём врача и не может использоваться для самодиагностики.
        .question.article__question#article-question
          h3.mb-5px Часто задаваемые вопросы по заболеванию
          .question__item-wrapper
            +question-item({
              header_id: 'question_01',
              target_id: 'answer_01',
              name: 'Бывает ли, что рикта не помогает?',
              parent: '#article-question',
              show: false
            })
              p Тогда Ваше дело будет разбирать независимый Арбитр в арбитраже форума. Он потребует оказать качественную услугу или даст распоряжение вернуть Вам средства. Услуги Гаранта оплачивает как правило Покупатель, реже продавец, в исключительных случаях 50 на 50. Это указывается в анкете.
          .question__item-wrapper
            +question-item({
              header_id: 'question_02',
              target_id: 'answer_02',
              name: 'Применяется ли аппарат рикта при отморожениях?',
              parent: '#article-question',
              show: false
            })
              p Да, применяется. Использование аппарата РИКТА способствует восстановлению микроциркуляции пораженных тканей, купированию или ослаблению болевого синдрома, снижению интоксикации и сокращению сроков лечения. Усиление эффекта наблюдается в комплексе с медикаментозной терапией.
          .question__item-wrapper
            +question-item({
              header_id: 'question_03',
              target_id: 'answer_03',
              name: 'Как выбрать лазерный аппарат для дома?',
              parent: '#article-question',
              show: false
            })
              p Тогда Ваше дело будет разбирать независимый Арбитр в арбитраже форума. Он потребует оказать качественную услугу или даст распоряжение вернуть Вам средства. Услуги Гаранта оплачивает как правило Покупатель, реже продавец, в исключительных случаях 50 на 50. Это указывается в анкете.
          .question__item-wrapper
            +question-item({
              header_id: 'question_04',
              target_id: 'answer_04',
              name: 'Можно ли лечить акушерско-гинекологические заболевания самостоятельно?',
              parent: '#article-question',
              show: false
            })
              p Тогда Ваше дело будет разбирать независимый Арбитр в арбитраже форума. Он потребует оказать качественную услугу или даст распоряжение вернуть Вам средства. Услуги Гаранта оплачивает как правило Покупатель, реже продавец, в исключительных случаях 50 на 50. Это указывается в анкете.
        +consult({
          url: 'img/author_87x87.jpg',
          name: 'Иван Фабричный',
          text: 'Врач кардиолог',
          phone: '8 800 200 57 30'
        })(class='article__consult mt-70px lg_hidden')
        .banner__wrapper.article__banner.lg_hidden
          .banner Баннер
      .container
        h2.mt-0.mb-5px.lg_mb-0.lg_mt-0.xxl_mb-10px.pr-110px.lg_text-36px Вам может быть интересно
        +btn('Все статьи','simple').mb-20px.shrink-0
        .article-preview.article-preview__list-wrapper
          .article-preview__list.slider
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-1.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")


block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e')


