extends ../pug/layout.pug

block meta
  title Боковое подменю
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'textpage';

block content
  .wrapper
    +breadcrumbs(class='container')
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Информация')
    section.section--textpage.mt-30px.lg_mt-20px.lg_mb-128px
      .article.container.mb-64px
        h1.text-2xl.mb-20px.lg_text-48px.lg_col-span-3.lg_mt-0.lg_mb-30px Артрит коленного сустава
        .article__main
          .fragment-special.text-green.mb-40px.lg_mb-60px
            .fragment-speical__inner.text-gray-500
              p Артрит коленных суставов относят к часто встречающимся патологиям воспалительного характера. Причины их развития бывают разнообразными. Суставные патологии при артрите всегда сопровождаются болевыми ощущениями. Из-за болезненности снижается объем движений в суставе.
          p(class='!mb-25px') Проявления заболевания существенно снижают качество жизни пациента. Артрит нередко служит причиной развития инвалидности в относительно молодом возрасте. Чтобы не возникло этих проблем, при появлении начальных признаков заболевания необходимо сразу обращаться за медицинской помощью.
          p Если вы уже давно страдаете воспалением коленных суставов, не стоит отчаиваться. Сейчас разработано множество эффективных методов терапии этой болезни, которые помогают даже при хронических запущенных формах артрита.
          h2#desc.text-xl.lg_text-36px.mt-40px.mb-20px.lg_mt-70px.lg_mb-25px Что собой представляет патология
          .article__img.img-cover.h-200px.lg_h-auto.mb-35px.lg_mb-30px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w'
            )
          div
            p
              span.relative.pr-15px Артрит коленных суставов
                +info-tip(class='info-tip--right' data-content='гонартрит')
              | – воспалительное заболевание с острым или хроническим течением. Воспалительный процесс развивается в суставных структурах и преимущественно поражает хрящи, прилегающие к ним костные фрагменты, а также суставные капсулы.
            p Клинические признаки патологии проявляются болезненностью в коленной области при движениях или в покое. Ограничивается функционирование колена. Отмечают припухлость мягких тканей в зоне поражения. Обнаруживают местное повышение температуры. На ощупь колено болезненное.
            p Заболевание имеет различные причины развития. Чаще оно протекает в виде воспаления, поражающего один сустав. Еще возможен процесс, который затрагивает сразу несколько суставов.
            p Артрит представлен многообразием клинических форм. По причинам, запускающим развитие болезни, выделяют следующие виды патологии коленного сустава:
          ul.list-dots
            li инфекционные (они бывают специфическими, неспецифическими, инфекционно-аллергическими);
            li реактивные;
            li ревматоидные;
            li асептические;
            li посттравматические.
          p Воспалительный процесс по характеру внутрисуставной жидкости чаще бывает негнойным. Гнойное воспаление встречается реже. Процесс может быть, как односторонним, так и двусторонним.
          p Болезнь развивается у людей в любом возрасте. Часто его выявляют у возрастных групп от 40 до 60 лет. <b class='text-black'>По данным ВОЗ, доля воспалительного поражения занимает до 52% среди всех случаев патологий суставов</b>, имеющих различную локализацию.
          p Высокую частоту поражения колена объясняют сложностью его анатомического строения. Еще важную роль в развитии заболевания играет высокая нагрузка на ноги.
          div.method-download.mb-40px.lg_mt-65px
            span Методика лечения артрита аппаратом лазерной терапии Рикта
            +btn-download-light({
                text: 'Скачать методику',
                href: 'http://example.com/files/myfile.pdf',
                classes: 'mt-10px'
            })
          h2#cause.text-xl.mb-20px.lg_text-36px.lg_mt-70px.lg_mb-25px Причины возникновения
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg' ,
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Воспаление коленного сустава бывает первичным и вторичным. При первичном воспалении артрит колена встречается как самостоятельное заболевание. Еще выделяют вторичные воспалительные патологии, которое возникают как следствие других недугов.
          p <b class='text-black text-lg lg_text-xl'>Первичный артрит</b> — это последствие травм: сюда относят ушибы, открытые раны, разрыв коленной капсулы, повреждение мениска. Происходит внедрение инфекционных агентов в суставную полость. Еще эта патология развивается после проведения диагностических пункций или хирургических вмешательств.
          p.text-black.lg_text-xl <b class='text-lg lg_text-xl'>Вторичное</b> поражение возникает на фоне следующих патологий:
          ul.list-dots
            li системные болезни (ревматизм, системная красная волчанка – СКВ, псориаз, болезнь Рейтера, болезнь Бехтерева и другие);
            li гнойные процессы различной локализации (остеомиелит, рожистое воспаление, фурункул, флегмона);
            li инфекции (туберкулез, гонорея, сифилис, бруцеллез, хламидиоз, дизентерия и прочие).
          p Возможно, что воспаление суставов возникает как последствие перенесенной кишечной инфекции или инфекционных патологий мочеполового тракта. Поражение колена нередко сопутствует у пациентов таким заболеваниям, как гемофилия, саркоидоз, подагра, злокачественные новообразования.
          div.border.border-black.border-dashed.rounded-10px.p-30px.mt-30px.mb-30px.lg_p-40px
            p.text-black.text-lg.lg_text-2xl Факторами риска, предрасполагающими к развитию болезни, считают следующее:
            ul.list-dots.pl-0.mb-0.lg_pl-15px
              li травматизация прилежащих к суставу связок;
              li воспаление суставной сумки и связок;
              li ожирение;
              li сверхпороговые спортивные нагрузки;
              li гипермобильность суставов;
              li плоскостопие;
              li эндокринные болезни;
              li инфекционные заболевания;
              li вакцинация;
              li хирургические вмешательства;
              li аллергические реакции;
              li роды;
              li болезни опорно-двигательного аппарата;
              li переохлаждение
          p Развитию артрита способствуют профессиональные и бытовые сверхнагрузки на суставы, включающие перенос тяжестей. Еще на это влияет однообразная работа в неудобной позе.
          h2.text-xl.mt-40px.mb-20px.lg_text-36px.lg_mt-70px.lg_mb-25px Симптомы
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Всем клиническим формам воспалительного процесса в суставе присущи некоторые общие симптомы. <b class='text-black'>Основными местными признаками артрита</b> считают болевые ощущения, припухлость околосуставных структур и деформацию колена.
          p Боль в зоне коленного сустава имеет разнообразный характер. Их интенсивность у большинства людей нарастает медленно. Сначала болезненность возникает периодически. Боль усиливается в вечернее время или при наличии физических нагрузок. Часть больных, страдающих от воспалительного поражения в коленном суставе, уже с начала заболевания отмечают наличие «стартовой» боли, которая развивается после длительного отдыха.
          p Болевому синдрому сопутствует наличие тугоподвижности и скованности в области больного сустава. Она лишает пациента возможности свободно передвигаться без помощи других людей или вспомогательных устройств.В области колена появляется отек, из-за чего сустав опухает и увеличивается в объеме.
          p Отмечают покраснение кожи над воспаленной областью. Выявляют местное увеличение температуры кожных покровов. Объем пассивных и активных движений в суставе существенно ограничен из-за болевых ощущений, припухлости околосуставных структур и наличия мышечного спазма. Если в полости сустава скапливается значительное количество внутрисуставной жидкости, появляется симптом “всплывания” надколенника.
          p.text-lg.text-black.lg_text-2xl При некоторых формах болезни отмечают внесуставные изменения. В процесс включаются следующие системы:
          ul.list-dots
            li сердечно-сосудистая (приобретенные сердечные пороки, перикардит, миокардит и другие);
            li пищеварительная (колит и другие);
            li легочная (альвеолит, пневмония и другие);
            li мочевыделительная (гломерулонефрит, амилоидоз почек и другие);
            li органы зрения (конъюнктивит, увеит, кератит и другие);
            li кожные покровы (сыпь и прочее).
          p Артрит колена иногда сочетается с воспалительным поражением <a href='#'>голеностопного сустава, лучезапястного, плечевого, локтевого и других.</a> Гнойную патологию сопровождает выраженный интоксикационный синдром, который проявляется такими симптомами, как лихорадка, озноб, головная боль, ощущение дискомфорта в мышцах.
          p При нарастании отека суставные контуры приобретают нечеткость. У пациента появляется ощущение распирания в области колена. Боль приобретает выраженный характер. Она проявляется и в покое, и при движениях. Больной для облегчения болевых ощущений придает ноге вынужденное положение, при котором он держит конечность полусогнутой в суставе.
          h2#stad.text-2xl.mt-40px.mb-20px.lg_text-36px.lg_mt-70px.lg_mb-25px Стадии развития
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p.text-xl.text-black.lg_text-2xl Выделяют несколько степеней патологического суставного процесса:
          ul.list-num
            li <b class='text-black'>Первая степень.</b> Ощущение дискомфорта при артрите похоже на обычную усталость после интенсивных тренировок или физической работы. Отмечают слабую ноющую боль при ходьбе. Она исчезает после недолгого отдыха. Сустав отекает преимущественно в утреннее время. Зрительно он крупнее здорового. Кожа над ним краснеет и становится горячей, ощущается скованность при попытке согнуть ногу. На рентген-снимках наблюдают незначительные признаки поражения сустава.
            li <b class='text-black'>Вторpaая степень.</b> При коленном артрите у пациента появляется хруст в суставе во время сгибания и разгибания. Он формируется из-за сильного повреждения поверхности хрящей. Этому способствует ослабление связочного аппарата из-за прогрессирования воспалительного процесса. Человека беспокоит выраженная боль в суставе. Она усиливается после ходьбы. Отмечается отечность сустава утром. Пациент ощущает при артрите скованность движений после ночного сна. Она исчезает в течение часа. У пациента изменяется походка. В суставной полости накапливается экссудат. На рентген-снимке обнаруживается сужение щели сустава. Патологически изменены края костных пластинок. Наблюдается околосуставной остеопороз.
            li <b class='text-black'>Третья степень.</b> Боль при коленном артрите носит постоянный характер. Она не проходит самостоятельно. Пациент не может передвигаться без вспомогательных средств. Наблюдается деформация сустава и выраженный отек околосуставных структур. Возникает резкая ограниченность движений из-за боли. Атрофированы мышцы голени и бедра. Кожные покровы резко покрасневшие и горячие. Температура тела возрастает до 39 градусов.
            li <b class='text-black'>Четвертая степень.</b> Для нее характерно полное разрушение суставных поверхностей. Сустав при коленном артрите прорастает соединительными волокнами и становится неподвижным. Кости подвергаются необратимым изменениям, а мышцы теряют эластичность. Укорачиваются связки. Пациент находится в тяжелом состоянии. Он не может самостоятельно передвигаться. При каждой попытке пошевелиться начинается резкая боль в конечности.
          .article__note.bg-yellow-50.mt-30px.mb-40px
            +svg('info-thin','',{width:38,height:38})(class='article__note-icon text-yellow-400')
            .text-lg.text-black.mb-5px.lg_text-xl.lg_self-start Рикта рекомендует
            p(class='!mb-0') При третьей и четвертой стадии болезни суставов требуется немедленно обратиться за медицинской помощью.
          h2#diag.text-2xl.text-black.mt-40px.mb-20px.lg_text-36px.lg_mt-70px.lg_mb-25px Диагностика
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Основные диагностические мероприятия направляются на выявление причин воспалительного процесса в суставах. Пациентов с артритом сначала направляют к терапевту. Этот врач при необходимости привлекает к диагностике следующих врачей: ревматолога, травматолога-ортопеда, артролога, венеролога, фтизиатра и остальных.
          p Обследование больного с артритом коленного сустава начинают с осмотра. Затем изучают историю болезни, где особое внимание обращают на перенесенные и сопутствующие заболевания. Диагноз подтверждают следующими методами дополнительной диагностики:
          ul.list-num.mb-20px
            li <b class='text-black'>Лабораторные тесты.</b> При наличии острого воспаления сустава во время проведения клинического анализа крови выявляют признаки активной воспалительной реакции. Характерно увеличенное СОЭ, растет число лейкоцитов. При выполнении биохимического анализа крови находят воспалительные маркеры, к которым относят С-реактивный белок (СРБ), ревматоидный фактор, серомукоид. При выполнении иммунологического анализа находят антитела к определенному возбудителю инфекции.
            li <b class='text-black'>Методы визуализации.</b> На рентген-снимках сустава видны отверстия в суставных поверхностях, через которые выходит гной в костную ткань. Еще при заболевании сужается суставная щель. Выявляется костное или фиброзное заращение сустава. Чтобы провести дифференциальную диагностику при артритах, проводят МРТ. Определение характера и количества внутрисуставной жидкости производят при помощи УЗИ. Вспомогательное значение имеют термография, пневмоартрография и контрастная артрография.
            li <b class='text-black'>Инвазивные исследования.</b> Проводится диагностическая пункция сустава с дальнейшим изучением синовиальной жидкости. Если необходимо, проводят артроскопию или биопсию синовиальных оболочек.
          p Исчерпывающая диагностическая информация о причинах поражения сустава позволяет врачу подобрать оптимальный лечебный комплекс.
          .article__note.bg-red-50.mt-20px.mb-40px(class='lg_grid lg_grid-cols-[auto_1fr] lg_gap-x-20px lg_text-left')
            +svg('info-thin','',{width:48,height:48})(class='article__note-icon text-red-500')
            .text-lg.text-black.mb-5px.lg_text-xl.lg_self-start Обратите внимание
            p(class='!mb-0') Если диагностика проведена несвоевременно и некачественно, лечение вовремя не назначается. Болезнь приобретает хроническое течение.
          h2#cure.text-2xl.text-black.mb-20px.lg_text-36px.lg_mt-70px.lg_mb-25px Лечение
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Пациенты часто спрашивают, какой врач лечит артрит коленного сустава. Если заболели колени, сначала нужно пойти на прием к участковому терапевту. После проведения расширенного обследования он установит причину воспаления суставов и направит к узкому специалисту. Лечение пациент получает у ревматолога, фтизиатра, ортопеда-травматолога, инфекциониста.
          p При назначении терапии обязательно учитывают причину поражения суставов. Правильно назначенное лечение предотвратит непоправимые последствия. Еще оно сохранит подвижными суставы. Курс лечения занимает длительный промежуток времени.
          p Для успешного лечения суставов важен не только прием лекарственных препаратов. Важно соблюдение специальной диеты. Надо защищать ноги от переохлаждения. Стоит исключить физический труд, связанный с подъемом и переносом тяжестей и длительным пребыванием в неудобном положении.
          p Для устранения симптомов применяются лекарственные средства направленного действия. Чтобы устранить боль, воспаление и отек используют нестероидные противовоспалительные препараты, в виде таблеток и инъекций. Медикаментозно лечат артрит суставов еще с помощью наружных НПВС препаратов. Их назначают в виде мазей, кремов, гелей.
          p Эти лекарства применяют длительным курсом при поражении суставов. Чтобы избежать негативного воздействия такого лечения на желудок, обычно прописывают препараты, которые защищают слизистую оболочку пищеварительного тракта. Еще для лечения суставов применяют следующие лекарства:
          ul.list-num.mb-20px
            li <b class='text-black'>Хондропротекторы.</b> Эти средства в своем составе содержат хондроитин и глюкозамин. Они помогают при артрите восстановлению поврежденной хрящевой ткани суставов. Обязательно принимать курсом эти таблетки или порошки в течение длительного времени.
            li <b class='text-black'>Кортикостероиды.</b> Их водят при артрите в виде уколов внутрь сустава. Они применяются при тяжелом состоянии пациента и неэффективности других лекарств.
            li <b class='text-black'>Сосудорасширяющие.</b> Такие препараты назначают курсами, чтобы улучшить кровоснабжение и питание сустава.
            li <b class='text-black'>Антибиотики.</b> Чаще других применяют препараты из группы пенициллинов и макролидов. Они становятся важной частью лечения. Эти лекарства нужны, чтобы уничтожить патогенные микроорганизмы внутри сустава. Их назначают при инфекционном артрите колена или его гнойных осложнениях.
          p В качестве дополнительного лечения пациентам назначают витаминно-минеральные комплексы, общеукрепляющие средства, а также биодобавки, содержащие пивные дрожжи и кальций.
          h2.text-2xl.text-black.mt-40px.mb-20px.lg_text-36px.lg_mt-70px Физиотерапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Физиотерапию считают важной частью лечения. Для этого применяют методы лечения, основанные на физических факторах. Физиотерапия предоставляет максимум эффекта, при этом на организм и суставы оказываются щадящие нагрузки.
          .article__note.bg-green-50.mt-20px.mb-20px
            +svg('wallet','',{width:48,height:48})(class='article__note-icon text-green-300')
            p(class='!mb-0') Значимым достоинством этого лечения при артрите считают доступность. Она хорошо сочетается с другими лечебными средствами комплексной терапевтической программы. Физиотерапия бережно воздействует на организм, оказывает длительный эффект. При ее применении почти отсутствуют побочные явления.
          p Главной задачей при терапии артрита коленных суставов считают уменьшение боли и восстановление их функций. Физиотерапия повышает качество жизни пациента и улучшает его самочувствие. Все методы требуют предварительной консультации врача.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl.lg_mb-25px Магнитотерапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Действующей силой этой терапии считают магнитное поле. Оно улучшает кровоснабжение хряща и лучше насыщает сустав питательными веществами. Это лечение при артрите активизирует выведение продуктов распада клеток и воспаления. Оно способствует подавлению аутоиммунных реакций.
          p В результате магнитотерапии уменьшается боль, снимается отечность, улучшается подвижность сустава. Затормаживаются процессы дегенерации в хрящевой ткани при артрите. Повышается проницаемость сосудов области колена, что способствует лучшему проникновению лекарств. Магнитофорез проводят после нанесения на колено наружных лекарственных средств.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Ультрафиолетовое облучение
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p УФО, снижая чувствительность в зоне поражения, устраняет боль. Оно в организме активизирует синтез витамина D3, который необходим, чтобы лучше усваивался кальций. Этот минерал важен для повышения крепости костей. УФО стимулирует обмен веществ в суставах.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Электрофорез
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p При этом методе сквозь кожу в толщу мышц вводятся лекарства под воздействием электрического тока. Он усиливает микроциркуляцию в околосуставных тканях колена. Это снимает воспаление, отечность и болевые ощущения в колене. Устраняются мышечные спазмы и судороги. Электрофорез обладает длительным лечебным действием.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl УВЧ
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Метод воздействует на суставные ткани с помощью ультравысокочастотных волн. Они помогают избавиться от болевых ощущений. Снимают воспаление и отек. Применение УВЧ противопоказано у больных с гипертонией.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Ультразвуковая терапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Ультразвук усиливает всасывание наружных лекарственных средств. Его часто применяют для местного введения гормональных мазей в области колена. Метод не назначают при стенокардии.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Бальнеотерапия
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Водные процедуры при артрите коленных суставов получили широкое применение. Активно проводят лечебные ванночки и ванны с радоном, солями, нафталаном, растительными экстрактами, сероводородом, йодобромом. Под их воздействием при артрите улучшается кровообращение в области колена, активизируются обменные процессы в суставе. Усиливается трофика тканей, стимулируется регенерация. Снимается воспаление и боль. Хороший отклик получают на ранней стадии артрита.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Грязелечение
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Ванны, обертывания, аппликации с грязями оказывают на сустав тепловое и механическое воздействие. Они питают ткани минералами и биологически активными веществами. Ликвидируется воспалительный процесс, убираются при артрите даже стойкие болевые ощущения.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Парафиновые обертывания
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Их применяют как вспомогательный метод. Парафин растапливают на водяной бане. Затем его остужают до комфортной температуры. На колено наносят парафиновую массу. Сверху обматывают полиэтиленовой пленкой и укутывают мягкой тканью. Метод улучшает кровообращение в суставе, уменьшает боль при артрите.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Массаж
          .article__img.img-cover.h-200px.lg_h-auto.mb-20px
            img.lazyload(
            data-sizes="auto",
            data-src='/img/arthrit_320x160.jpg',
            data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                    '/img/arthrit_480x240.jpg 361w, ' +
                    '/img/arthrit_800x400.jpg 481w, ' +
                    '/img/article-2_864x346.jpg 801w '
            )
          p Метод довольно популярен. Его считают высокоэффективной составляющей комплексной терапии. Местный массаж помогает наращивать мышечную силу. После курсового применения укрепляются мышцы, снимаются мышечные спазмы. Массаж усиливает кровоток в тканях и ослабляет болевые ощущения.
          h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Лазерная терапия
          .article__imgs-wrapper.lg_flex.mb-20px.lg_mb-40px
            .article__img.img-cover.h-200px.lg_h-176px.lg_mr-20px
              img.lazyload(
              data-sizes="auto",
              data-src='/img/arthrit_320x160.jpg',
              data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                      '/img/arthrit_480x240.jpg 361w, ' +
                      '/img/arthrit_800x400.jpg 481w, ' +
                      '/img/article-2_864x346.jpg 801w '
              )
            .article__img.img-cover.h-200px.lg_h-176px.hidden.lg_block.lg_mr-20px
              img.lazyload(
              data-sizes="auto",
              data-src='/img/arthrit_320x160.jpg',
              data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                      '/img/arthrit_480x240.jpg 361w, ' +
                      '/img/arthrit_800x400.jpg 481w, ' +
                      '/img/article-2_864x346.jpg 801w '
              )
            .article__img.img-cover.h-200px.lg_h-176px.hidden.lg_block
              img.lazyload(
              data-sizes="auto",
              data-src='/img/arthrit_320x160.jpg',
              data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                      '/img/arthrit_480x240.jpg 361w, ' +
                      '/img/arthrit_800x400.jpg 481w, ' +
                      '/img/article-2_864x346.jpg 801w '
              )
          .lg_flex.lg_mb-40px
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
            div.method-download.method-download--lg-small.mt-35px.mb-20px.lg_mt-0.lg_ml-30px.lg_mb-0
              span Методика лечения артрита аппаратом лазерной терапии Рикта
              +btn-download-light({
                  text: 'Скачать методику',
                  href: 'http://example.com/files/myfile.pdf',
                  classes: 'mt-10px'
              })
          .div.hidden.lg_block
            .article__img.img-cover.h-200px.lg_mr-20px(class='lg_h-[306px] lg_w-[416px] lg_mr-32px lg_float-left')
              img.lazyload(
              data-sizes="auto",
              data-src='/img/arthrit_320x160.jpg',
              data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                      '/img/arthrit_480x240.jpg 361w, ' +
                      '/img/arthrit_800x400.jpg 481w, ' +
                      '/img/article-2_864x346.jpg 801w '
              )
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия,
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
          .div.hidden.lg_block
            .article__img.img-cover.h-200px.lg_mr-20px(class='lg_h-[306px] lg_w-[416px] lg_ml-32px lg_float-right')
              img.lazyload(
              data-sizes="auto",
              data-src='/img/arthrit_320x160.jpg',
              data-srcset='/img/arthrit_320x160.jpg 360w, '  +
                      '/img/arthrit_480x240.jpg 361w, ' +
                      '/img/arthrit_800x400.jpg 481w, ' +
                      '/img/article-2_864x346.jpg 801w '
              )
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия,
            p Лечение суставов с применением лазера – это методика, в основе которой лежит действие на ткани концентрированным пучком световой энергии. Воздействие им оказывают на ограниченный участок тела. Лазерное лечение практикуется как основная терапия, а также совместно с другими методиками.
          .article__note.bg-green-50.mt-20px.mb-20px
            +svg('laser','',{width:50,height:32})(class='article__note-icon !mb-30px stroke-green-300 fill-green-300 text-green-300')
            p(class='!mb-0') Лазеротерапия эффективна при различных формах заболевания. Метод успешно используют при ревматоидном, подагрическом, посттравматическом и других артритах.
          .text-lg.text-black.mb-20px.lg_text-xl Эта терапия имеет следующие преимущества:
          ul.list-dots.mb-30px
            li активизируется обмен веществ в тканях сустава;
            li ускоряется течение химических реакций;
            li снижается болезненность и отек сустава;
            li устраняется острое воспаление;
            li форсируется восстановление пораженных тканей;
            li снимает сосудистый спазм и мышечное напряжение;
            li активизируется выработка антител;
            li улучшается кровоснабжение сустава;
            li ускоряется образование сосудов;
            li оказывается <b class='text-black'>иммуномодулирующий</b> эффект.
          .article__note.bg-blue-50.mt-20px.mb-40px
            +svg('laser-device','',{width:46,height:47})(class='article__note-icon')
            p(class='!mb-0') Сейчас лазеротерапию делают не только с помощью громоздких аппаратов для медицинских учреждений. Теперь не нужно ходить в поликлинику, возможно лечение артрита колена в домашних условиях с помощью портативных аппаратов. Их регулярное применение улучшает функционирование коленного сустава.
          h2#prof.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Профилактика
          .grid.grid-cols-2.gap-x-20px.mb-20px
            .article__img.img-cover.h-100px(class='lg_h-[248px]')
              img.lazyload(
              data-sizes="auto",
              data-src='/img/arthrit_320x160.jpg',
              data-srcset='/img/arthrit_320x160.jpg 360w' +
                      '/img/arthrit_480x240.jpg 361w' +
                      '/img/arthrit_800x400.jpg 481w' +
                      '/img/arthrit_1152x303.jpg 801w' +
                      '/img/arthrit_1312x345.jpg 1280w' +
                      '/img/arthrit_1800x473.jpg 1441w',
            )
            .article__img.img-cover.h-100px(class='lg_h-[248px]')
              img.lazyload(
              data-sizes="auto",
              data-src='/img/arthrit_320x160.jpg',
              data-srcset='/img/arthrit_320x160.jpg 360w' +
                      '/img/arthrit_480x240.jpg 361w' +
                      '/img/arthrit_800x400.jpg 481w' +
                      '/img/arthrit_1152x303.jpg 801w' +
                      '/img/arthrit_1312x345.jpg 1280w' +
                      '/img/arthrit_1800x473.jpg 1441w',
            )
          p Для поддержания устойчивой ремиссии и недопущения развития обострений артрита коленных суставов важно добросовестное выполнение рекомендаций врача. Стоит пересмотреть рацион. Ешьте свежие овощи и фрукты, богатые витаминами и клетчаткой. Надо ограничить потребление животных жиров.
          p Откажитесь от вредных привычек. Важно исключить прием алкоголя и курение табака. Нужно вылечивать все воспалительные заболевания. Особенно это касается острых инфекций. Стоит вести активный образ жизни. Нужно заниматься специально разработанными упражнениями для суставов. Нагрузки подбирают, учитывая возраст, степень и форму заболевания.
          p Успешное лечение воспалительного процесса в коленных суставах зависит от своевременного обращения за медицинской помощью и строгого выполнения врачебных рекомендаций.
        .article__aside.hidden.lg_block.lg_col-start-3.lg_row-start-3.lg_row-span-10
          .article__float
            .article__float-container
              +aside-nav-full()
              .banner__wrapper.article__banner
                .banner Баннер
              +consult({
                url: '/img/author_87x87.jpg',
                name: 'Иван Фабричный',
                text: 'Врач кардиолог',
                phone: '8 800 200 57 30'
              })(class='article__consult')
              .form__wrapper.mt-30px
                #comp_5afb8bec3eb492a81bc638ca2c9b76d6
                  #contact_page_form
                    form.form.relative.form--question.lg_flex.lg_flex-col
                      .contacts__title.mt-30px.mb-20px.text-xl.lg_mt-0 Оставить свой отзыв
                      +field-text({
                        attrs: {
                          name: 'name',
                          placeholder: 'Ф.И.О. / Название мед. учреждения',
                          type: 'text'
                        }
                      })
                      +field-text({
                        attrs: {
                          name: 'city',
                          placeholder: 'Город',
                          type: 'text'
                        }
                      })
                      +field-text({
                        attrs: {
                          name: 'email',
                          placeholder: 'E-mail',
                          type: 'text'
                        }
                      })
                      +field-text({
                        isTextarea: true,
                        attrs: {
                          name: 'name',
                          placeholder: 'Текст отзыва',
                          type: 'text',
                          rows: 8
                        }
                      })(class="contacts__question-msg relative grow")
                        button.btn.btn--form-tg.absolute.right-0.bottom-0.flex.items-center.justify-center
                          +svg('tg-outline','',{width: 18, height: 18})
                          span Отправить
                      +load-file({
                        id: 'special-file',
                        btn_classes: 'btn--icon btn--regular border-gray-300 mb-5px inline-flex',
                        text: 'Файл не выбран'
                      },'reviews')(class='mt-20px lg_mt-10px')
                        +svg('paperclip','',{width: 20,height:19})
                        span Прикрепить файл
        .article__socials.lg_justify-self-start
          .text-lg.text-black.text-center.mb-7px Поделиться в соц. сетях
          <div class='ya-share2' data-curtain data-services='vkontakte,odnoklassniki,telegram,whatsapp'></div>
        .article__rating.rating.rating.text-lg.text-center.mt-20px.mb-40px.lg_justify-self-end
          .article__rating-text.mb-5-px
            span.text-black 4.3/5&#32;
            span (5 286 оценок)
          .rating__stars--view#rateYo(data-value='4.3')
        +aside-nav-full(class='lg_hidden')
        .form__wrapper.lg_hidden
          #comp_5afb8bec3eb492a81bc638ca2c9b76d6
            #contact_page_form
              form.form.relative.form--question.lg_flex.lg_flex-col
                .contacts__title.mt-30px.mb-20px.text-xl.lg_mt-0 Оставить свой отзыв
                +field-text({
                  attrs: {
                    name: 'name',
                    placeholder: 'Ф.И.О. / Название мед. учреждения',
                    type: 'text'
                  }
                })
                +field-text({
                  attrs: {
                    name: 'city',
                    placeholder: 'Город',
                    type: 'text'
                  }
                })
                +field-text({
                  attrs: {
                    name: 'email',
                    placeholder: 'E-mail',
                    type: 'text'
                  }
                })
                +field-text({
                  isTextarea: true,
                  attrs: {
                    name: 'name',
                    placeholder: 'Текст отзыва',
                    type: 'text',
                    rows: 8
                  }
                })(class="contacts__question-msg relative grow")
                  button.btn.btn--form-tg.absolute.right-0.bottom-0.flex.items-center.justify-center
                    +svg('tg-outline','',{width: 18, height: 18})
                    span Отправить
                +load-file({
                  id: 'special-file',
                  btn_classes: 'btn--icon btn--regular border-gray-300 mb-5px inline-flex',
                  text: 'Файл не выбран'
                },'reviews')(class='mt-20px lg_mt-10px')
                  +svg('paperclip','',{width: 20,height:19})
                  span Прикрепить файл
        +consult({
          url: '/img/author_87x87.jpg',
          name: 'Иван Фабричный',
          text: 'Врач кардиолог',
          phone: '8 800 200 57 30'
        })(class='article__consult mt-70px lg_hidden')
        .banner__wrapper.article__banner.lg_hidden
          .banner Баннер
      .container
        h2.text-2xl.mt-0.mb-5px.lg_mb-0.lg_mt-0.xxl_mb-10px.pr-110px.lg_text-36px Вам может быть интересно
        +btn('Все статьи','simple').mb-20px.shrink-0
        .article-preview.article-preview__list-wrapper
          .article-preview__list.slider
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-1.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")


block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e')


