//- Все примеси в этом файле должны начинаться c имени блока (books)

mixin books(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' books--' + modsList[i].trim();
      }
    }

  .books(class=allMods)&attributes(attributes)
    block


mixin books-item(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' books__item--' + modsList[i].trim();
      }
    }

  .books__item(class=allMods)&attributes(attributes)
    if (props.href)
      a.books__img(href=props.href)
        img(src=props.src)
        if (props.isVideo)
          span.icon-video
    else
      .books__img
        img(src=props.src)
    .books__title!= props.title
    if (props.desc)
      .books__desc!= props.desc
    if (props.price)
      .books__price!= props.price
    block


