//- Все примеси в этом файле должны начинаться c имени блока (switcher)

mixin switcher(data, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +switcher('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' switcher--' + modsList[i].trim();
      }
    }

  .switcher__wrapper.items-center.h-full.font-medium.flex-shrink-0(class=allMods)&attributes(attributes)
    .relative.dropdown
      .switcher.dropdown-toggle.flex.items-center.space-x-1.cursor-pointer.active(class="after_right-2.5" id="dropdownMenuLink_XXX" data-bs-toggle="dropdown" aria-expanded="false")
        .switcher__value.w-full.text-inherit.leading-8.pl-10px.pr-15px
          if (attributes.id === 'switcherLangFooter')
            +svg('globe','globe',{width: '20', height: '20'})
          span!= data.name
          if (attributes.id === 'switcherLangFooter')
            +svg('angle-down','angle-down',{width: '6', height: '4'})
      .switcher__select.dropdown-menu.text-inherit(aria-labelledby="dropdownMenuLink")
        block

mixin switcher-item(data,mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' switcher__item--' + modsList[i].trim();
      }
    }

  li.switcher__item(class=allMods data-name=data.code data-value=data.value)&attributes(attributes)
    if (data.check)
      +svg('check','check',{width: '6', height: '4'})
    span!= data.name



