//- Все примеси в этом файле должны начинаться c имени блока (product-main)

mixin product-main(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-main--' + modsList[i].trim();
      }
    }

    if (props.status_class) {
      var statusClass = 'product-card__status--' + props.status_class;
    }

  .product-main.product-card(class=allMods)&attributes(attributes)
    .product-card__status(class=statusClass)
      +svg(props.status_icon, '', sizes={width:props.status_icon_sizes[0],height:props.status_icon_sizes[1]})
      span= props.status
    .product-card__credit.flex.text-sm.text-gray-500
      +svg('wallet', '', sizes={width:'20',height:'20'})(class='fill-transparent mr-5px')
      div В кредит <span class='product-card__credit-sum'>679</span> рублей в месяц
    h1.product-main__title.mt-0.mb-20px.lg_mt-8px.lg_mb-20px РИКТА 04/4
    .product-main__sliders
      .product-main__slider-wrapper.slider__wrapper
        .product-main__slider.slider#product-main
          +product-main-item-img({
            sizes: "auto",
            src: '/img/product_382x.jpg',
            srcset: '/img/product_382x.jpg 360w, '  +
                    '/img/product_600x.jpg 383w, '  +
                    '/img/product_732x423.jpg 768w, ' +
                    '/img/product_996x.jpg 1800w, '
          })(data-slide='1')
            .product-card__top-list
              span.product-card__top-item
                +svg('shield','',{width: 16, height: 18})(class='mr-8px')
                span Гарантия 2 года
              span.product-card__top-item
                span Акция
          //- #product-main-item0.product-main__slider-item.tns-item.tns-slide-active(data-slide="0")
          //-   .video.product-main__video
          //-     .product-main__poster.video__poster(data-src="/upload/iblock/42f/qy9h2l3021y9551uyy2qlohpafu71p6b.jpg")
          //-       img(src="/upload/iblock/42f/qy9h2l3021y9551uyy2qlohpafu71p6b.jpg" alt="Фото РИКТА-04/4")
          +product-main-item-video({
            url: '/video/dummy.mov',
            width: '1920',
            height: '1080',
            poster: '/img/product-main-slider-poster.jpg'
          })(data-slide='2')
            .product-card__top-list
              span.product-card__top-item
                span Акция
              //- span.product-card__top-item
              //-   span 3
          +product-main-item-video({
            url: '/video/dummy.mov',
            width: '1920',
            height: '1080',
            poster: '/img/product-main-slider-poster.jpg'
          })(data-slide='3')
            .product-card__top-list
              span.product-card__top-item
                span Акция 2
              //- span.product-card__top-item
              //-   span 4
          +product-main-item-video({
            url: '/video/banana.mp4',
            width: '1920',
            height: '1080',
            poster: '/img/product-main-slider-poster.jpg'
          })(data-slide='4')
            .product-card__top-list
              span.product-card__top-item
                +svg('shield','',{width: 16, height: 18})(class='mr-8px')
                span Гарантия 3 года
              //- span.product-card__top-item
              //-   span 5
          +product-main-item-video({
            url: '/video/banana.mp4',
            width: '1920',
            height: '1080',
            poster: '/img/product-main-slider-poster.jpg'
          })(data-slide='5')
            .product-card__top-list
              span.product-card__top-item
                +svg('shield','',{width: 16, height: 18})(class='mr-8px')
                span Гарантия 3 года
          +product-main-item-video-yt({
            src: 'https://img.youtube.com/vi/YdtBEFK_HgI/mqdefault.jpg',
            id: 'YdtBEFK_HgI'
          })(data-slide='6')
            .product-card__top-list
              span.product-card__top-item
                +svg('shield','',{width: 16, height: 18})(class='mr-8px')
                span Гарантия 2 года
              span.product-card__top-item
                span Акция
          +product-main-item-video({
            url: '/video/banana.mp4',
            width: '1920',
            height: '1080',
            poster: '/img/product-main-slider-poster.jpg'
          })(data-slide='7')
            .product-card__top-list
              span.product-card__top-item
                +svg('shield','',{width: 16, height: 18})(class='mr-8px')
                span Гарантия 3 года
          +product-main-item-video-preview-only({
            src: 'https://img.youtube.com/vi/SS-Qqpkd3ow/mqdefault.jpg'
          })(data-slide='8')
          +product-main-item-video-yt({
            src: 'https://img.youtube.com/vi/SS-Qqpkd3ow/mqdefault.jpg',
            id: 'SS-Qqpkd3ow'
          })(data-slide='9')
            .product-card__top-list
              span.product-card__top-item
                +svg('shield','',{width: 16, height: 18})(class='mr-8px')
                span Гарантия 2 года
              span.product-card__top-item
                span Акция
        .product-main__controls.slider__controls.slider__controls--center(aria-label="Carousel Navigation" tabindex="0")
          button.slider__controls-btn.slider__controls-btn--prev(type="button" data-controls="prev" tabindex="-1" aria-controls="tns1")
            +svg('arrow','',{width: 19,height:19})
          button.slider__controls-btn.slider__controls-btn--next(type="button" data-controls="next" tabindex="-1" aria-controls="tns1")
            +svg('arrow','',{width: 19,height:19})
      .product-main__previews-wrapper.slider__wrapper
        .product-main__previews.slider#product-previews
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='0')
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='1')
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='2')
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='3')
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='4')
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='5')
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='6')
          +product-main-item-preview({url: '/img/product-preview.jpg'})(data-slide='7')
        .product-main__previews-controls.slider__controls.slider__controls--center(aria-label="Carousel Navigation" tabindex="0")
          button.slider__controls-btn.slider__controls-btn--prev(type="button" data-controls="prev" tabindex="-1" aria-controls="tns1")
            +svg('angle','',{width: 7,height:14})
          button.slider__controls-btn.slider__controls-btn--next(type="button" data-controls="next" tabindex="-1" aria-controls="tns1")
            +svg('angle','',{width: 7,height:14})
    .product-main__price-wrapper.mt-12px.mb-25px.lg_mt-0.lg_mb-30px
      .product-main__price.mr-10px.lg_mr-20px 44 800 ₽
      p.w-full Внимание! С 1 января 2023 г. повышение цен.
      .product-main__price-old + <span class="options-sum">0</span> ₽ (дополнительно)
    +product-options({
      title: '<div class="mb-10px text-lg text-black col-start-1 col-end-3">Дополнительно</div>'
    })(class='product-main__options')
    .product-actions.product-actions--product-main
      +btn(
        '<svg class="icon" width="18" height="18"><use xlink:href="img/sprite.svg#cart"></use></svg> <span>Купить</span>',
        'regular, icon, cart-add')(data-content="Добавлено")
      +btn('','fav, fav-add')
        +svg('heart-full','',{width: '22', height: '21'})
      +btn('','compare, compare-add')
        +svg('arrows-left-right','',{width: '18', height: '23'})
      +btn(
        '<svg class="icon" width="18" height="18"><use xlink:href="/img/sprite.svg#mouse-square"></use></svg> <span>Задать вопрос врачу</span>',
        'regular, icon, question')(class='product-main__question mt-10px lg_mt-0' data-modal-open='modal-ask-doctor')
    .product-main__special.mt-20px
      div.text-sm.lg_text-base Спец. условия для юр лиц. Скидка 10% от 5 шт.
      +btn('Запросить КП','small,special')(data-modal-open='modal-special-offer')
    .modal.modal--regular.modal--special#modal-special-offer
      .modal__overlay(tabindex='-1' data-modal-close)
        .modal__container(role='dialog' aria-modal='true' aria-labelledby='Специальное предложение')
          header.modal__header
            .modal__title Запросить коммерческое предложение
            +close({title: 'Закрыть'})(class="modal__close" aria-label="Close modal" data-modal-close)
          .modal__inner
            form.form.form--special
              +field-text({
                attrs: {
                  name: 'name',
                  placeholder: 'Ваше имя',
                  type: 'text'
                }
              })
              +field-text({
                attrs: {
                  name: 'phone',
                  placeholder: 'Телефон',
                  type: 'text'
                }
              })
              +field-text({
                attrs: {
                  name: 'email',
                  placeholder: 'E-mail',
                  type: 'text'
                }
              })
              +field-text({
                attrs: {
                  name: 'company',
                  placeholder: 'Название организации',
                  type: 'text'
                }
              })
              +field-text({
                  isTextarea: true,
                attrs: {
                  name: 'msg',
                  placeholder: 'Комментарий',
                  type: 'text',
                  rows: 5
                }
              })(class='form__msg field-text--send relative')
                +btn-send
            +load-file({id: 'special-file', btn_classes: 'btn--icon btn--regular border-gray-300 mb-5px inline-flex'})
              +svg('paperclip','',{width: 20,height:19})
              span Прикрепить файл
    +modal({
      id: 'modal-ask-doctor',
      title: 'Задать вопрос о приборе. '
    },'ask-doctor')
      +author({
        name: 'Иванова Анна Ивановна',
        text: 'Ответит врач',
      },'ask-doctor')
      form.form.form--ask-doctor
        +field-text({
          attrs: {
            name: 'name',
            placeholder: 'Имя',
            type: 'text'
          }
        })
        +field-text({
          attrs: {
            name: 'phone',
            placeholder: 'Телефон',
            type: 'text'
          }
        })
        +field-text({
            isTextarea: true,
          attrs: {
            name: 'msg',
            placeholder: 'Сообщение',
            type: 'text',
            rows: 5
          }
        })(class='form__msg field-text--send relative')
          +btn-send
    .modal.modal--options#modal-options
      .modal__overlay(tabindex='-1' data-modal-close)
        .modal__container(role='dialog' aria-modal='true' aria-labelledby= props.title)
          header.modal__header
            .modal__title Дополнительные опции
            +close({title: 'Закрыть'})(class="modal__close" aria-label="Close modal" data-modal-close)
          .modal__inner.mb-15px
            form.form.form--options
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для акушерства и&nbsp;гинекологии <span>(+17 400.00р.)</span>'
              })
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для оториноларингологии <span>(+12 000.00р.)</span>'
              })
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для стоматологии <span>(+10 800.00р.)</span>'
              })
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для урологии и проктологии <span>(+9 600.00р.)</span>'
              })
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для акушерства и&nbsp;гинекологии <span>(+17 400.00р.)</span>'
              })
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для оториноларингологии <span>(+12 000.00р.)</span>'
              })
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для стоматологии <span>(+10 800.00р.)</span>'
              })
              +product-options-item({
                src: '/img/product_50x50.jpg',
                desc: 'Комплект насадок для урологии и проктологии <span>(+9 600.00р.)</span>'
              })
          +btn('<span>Добавить</span>','regular, options-add')(class='product-options__add self-center' data-modal-close)
    //- +modal({
    //-   id: 'modal-options',
    //-   title: 'Дополнительные опции'
    //- },'options')
    .product-main__delivery
      .product-main__delivery-item.product-main__delivery-item--office Самовывоз из офиса в Москве: <span>сегодня</span>, <span>бесплатно</span>
      .product-main__delivery-item.product-main__delivery-item--courier Курьером по Москве: <span>10.04.2022</span>  <span>от 500 руб. / бесплатно</span>
      a.product-main__delivery-item.product-main__delivery-item--others(href='#') Другие способы доставки

mixin product-main-item-video(props={}, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-main--' + modsList[i].trim();
      }
    }

  .product-main__slider-item(class=allMods)&attributes(attributes)
    +video({
      url: props.url,
      width: props.width,
      height: props.height,
      poster: props.poster,
      btn_mod: 'filled'
    })(class='product-main__video')
    block

mixin product-main-item-video-yt(props={}, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-main--' + modsList[i].trim();
      }
    }

  .product-main__slider-item(class=allMods)&attributes(attributes)
    .video-yt
      .video-yt__poster
        img.lazyload(data-src=props.src data-srcset=props.srcset)
        .btn-play.btn-play--product
      iframe(class="video-yt__frame" id="video-yt__frame"  width="560" height="315" src=`https://www.youtube.com/embed/${props.id}?enablejsapi=1` title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


mixin product-main-item-video-preview-only(props={}, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-main--' + modsList[i].trim();
      }
    }
  .product-main__slider-item(class=allMods)&attributes(attributes)
    +video-product--img-only({
      url: props.url,
      width: props.width,
      height: props.height,
      poster: props.poster,
      btn_mod: 'filled'
    })(class='product-main__video')
    block


mixin product-main-item-img(props={}, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-main--' + modsList[i].trim();
      }
    }

  .product-main__slider-item(class=allMods)&attributes(attributes)
    img.lazyload(
      data-src=props.url
      data-srcset= props.srcset,
      data-sizes= props.sizes
    )
    block



mixin product-main-item-preview(props={}, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-main--' + modsList[i].trim();
      }
    }

  .product-main__previews-item(class=allMods)&attributes(attributes)
    .product-main__preview-img
      img(src=props.url)
