//- Все примеси в этом файле должны начинаться c имени блока (product-info)

mixin product-info(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product-info('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-info__list--' + modsList[i].trim();
      }
    }

  .product-info(class=allMods)&attributes(attributes)
    block


mixin product-info-text(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-info--' + modsList[i].trim();
      }
    }

  .product-info__text-slider(class=allMods)&attributes(attributes)
    .product-info__text.slider__item
      h3.product-info__title= props.title
      .product-info__desc= props.desc
      .product-info__price= props.price
      .product-info__features
        block
    +product-actions('product-info')



mixin product-info-view(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-info-view--' + modsList[i].trim();
      }
    }

  .product-info__view.slider__item(class=allMods)&attributes(attributes)
    .product-info__view-inner
      .product-info__view-content.lazyload.cloudimage-360-w1024(data-folder=props.folder data-filename-x="{index}_rikta_3d_w500.jpg" data-amount-x="36" data-keys="true" data-bottom-circle data-width="1024" id=`${props.id}_w1024`)
      .product-info__view-content.lazyload.cloudimage-360-w360(data-folder=props.folder data-filename-x="{index}_rikta_3d_w256.jpg" data-amount-x="36" data-keys="true" data-bottom-circle data-width="360" id=`${props.id}_w360`)
        // .cloudimage__buttons
        //   button.cloudimage-360-left cloudimage-360-left
        //   button.cloudimage-360-right cloudimage-360-right
